<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
</head>
<body>
<div class="container">
    {{if .Hint}}
        <h2>{{.Name}}</h2>
        <h4>{{.Hint}}</h4>
    {{else}}
        <div class="alert alert-danger" role="alert">{{.}}</div>
    {{end}}
</div>
<script src="/js/jquery-3.5.1.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
</body>
</html>